
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a ui-sref="home">
        Start Bootstrap
      </a>
    </li>
    <li  ui-sref-active="activeNavbar">
      <a ui-sref="team">Team Members</a>
    </li>
    <li ui-sref-active="activeNavbar">
      <a ui-sref="professors" >Professors</a>
    </li>
    <li ui-sref-active="activeNavbar">
      <a ui-sref="clubs" >Clubs</a>
    </li>
    <li ui-sref-active="activeNavbar">
      <a ui-sref="internships">Internships</a>
    </li>
    <li>
      <a ng-click="vm.logout()" ui-sref="login">Logout</a>
    </li>
  </ul>
</div>


