<div class="container-fluid">
  <div id="wrapper">
    <acme-navbar></acme-navbar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1>Bonev = Flash</h1>


            <div class="row">
              <menu-button></menu-button>
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="prof.searchBox" placeholder="Search">
                </div>
              </div>

              <div class="col-md-4">
                <button ng-click="prof.addProfessor()"> Add Professor</button>
              </div>
            </div>


            <ul class="media-list" tab-pane fade in active>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active:isSelected(1)}">
                  <a ng-click="prof.select(1)" aria-controls="all menu" role="tab">All departments</a></li>
                <li role="presentation" ng-class="{active:isSelected(2)}">
                  <a ng-click="prof.select(2)" aria-controls="appetizers" role="tab">COS</a></li>
                <li role="presentation" ng-class="{active:isSelected(3)}">
                  <a ng-click="prof.select(3)" aria-controls="mains" role="tab">ECO</a></li>
                <li role="presentation" ng-class="{active:isSelected(4)}">
                  <a ng-click="prof.select(4)" aria-controls="desserts" role="tab">MAT</a></li>
              </ul>


              <div id="team">
                <div>
                  <ul>


                    <li class="media"
                        ng-repeat="professor in prof.filteredTodos | filter: prof.filtText |filter:prof.searchBox"
                        ui-sref="professorDetails({professorId: professor.id})">

                      <form ng-show="!editing" ng-submit="editing = true">

                        <div class="media-left media-middle">
                          <img src="http://lorempixum.com/100/100/nature/1" class="media-object img-thumbnail">
                        </div>

                        <div class="media-body">
                          <h3 class="media-heading">{{ professor.name}}</h3>

                          <p class="label label-danger">{{ professor.department }}</p>

                          <p>{{ professor.description }}</p>
                          <button type="submit" class="btn btn-primary pull-right">Edit</button>
                        </div>
                      </form>


                      <form ng-show="editing" ng-submit="editing = false">
                        <label>Name:</label>
                        <input type="text" ng-model="professor.name" placeholder="Name" ng-required/>
                        <label>Description:</label>
                        <select class="form-control" id="department" ng-model="professor.department" required>
                          <option>cos</option>
                          <option>inf</option>
                          <option>mat</option>
                          <option>jmc</option>
                          <option>pos</option>
                          <option>eco</option>
                          <option>bus</option>
                        </select>
                        <input type="text" ng-model="professor.description" placeholder="Description" ng-required/>
                        <br/>
                        <button class="btn btn-success" type="submit">Save</button>
                        <button class="btn btn-danger" type="button" ng-click="prof.deleteProfessor(professor)">
                          Delete
                        </button>
                      </form>


                    </li>

                  </ul>
                </div>
              </div><!-- professors list finish -->


            </ul>

            <!--pagination-->
            <pagination
              ng-model="prof.currentPage"
              total-items="prof.professorsArray.length"
              max-size="prof.maxSize"
              boundary-links="true"
              ng-change="prof.pageChanged()">
            </pagination>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
