<div class="modal-header">
  <h3 class="modal-title">Registration Form</h3>
</div>

<form name="apr.registrationForm" role="form" ng-submit="apr.addNewProfessor(apr.newProfessor, apr.picFile)" novalidate>
  <div class="modal-body">


    <div class="form-group row"
         ng-class="{ 'has-error' : apr.registrationForm.name.$error.required && apr.registrationForm.name.$dirty }">
      <label class="col-md-2 control-label" for="name">Name</label>

      <div class="col-md-10">
        <input type="text" ng-model="apr.newProfessor.name" class="form-control" name="name" id="name"
               placeholder="name" required>
        <span ng-show="apr.registrationForm.name.$error.required  && !apr.registrationForm.name.$pristine"
              class="help-block">Please enter your name!</span>
      </div>
    </div>


    <div class="form-group row"
         ng-class="{ 'has-error' : apr.registrationForm.department.$error.required}">
      <label class="col-md-2 control-label" for="department">Department:</label>

      <div class="col-md-10">
        <select class="form-control" id="department" ng-model="apr.newProfessor.department" required>
          <option>cos</option>
          <option>inf</option>
          <option>mat</option>
          <option>jmc</option>
          <option>pos</option>
          <option>eco</option>
          <option>bus</option>
        </select>
      </div>
    </div>


    <!--todo: add professors description in the API-->
    <!--<div class="form-group row"-->
    <!--ng-class="{ 'has-error' : apr.registrationForm.description.$error.required && apr.registrationForm.description.$dirty }">-->
    <!--<label class="col-md-2 control-label" for="description">Description</label>-->
    <!--<div class="col-md-10">-->
    <!--<input type="text" ng-model="atm.newProfessor.description" class="form-control" id="description"-->
    <!--name="description" placeholder="Description" required>-->
    <!--<span ng-show="apr.registrationForm.description.$error.required  && !apr.registrationForm.description.$pristine"-->
    <!--class="help-block">Please enter the description!</span>-->
    <!--</div>-->
    <!--</div>-->



    <div class="form-group row">
      <label class="col-md-2 control-label" for="department">Photo:</label>

      <div class="col-md-10">
        <input id="inp" type="file" ngf-select ng-model="apr.picFile" name="file"
               accept="image/*" ngf-max-size="2MB" required
               ngf-model-invalid="errorFile">
        <i ng-show="apr.registrationForm.file.$error.required">*required</i><br>
        <img ng-show="apr.registrationForm.file.$valid" ngf-thumbnail="apr.picFile" class="img-thumbnail"> <a
        ng-click="apr.picFile = null"
        class="btn btn-danger"
        ng-show="apr.picFile">Remove</a>
        <br>
        <a class="btn btn-default" ng-show="apr.picFile"
           ng-click="apr.uploadPic(apr.picFile); registerInvalid=true">Upload</a>

      <span class="progress" ng-show="apr.picFile.progress >= 0">
        <div ng-bind="'Uploaded Succesfully'"></div>
      </span>
      </div>
    </div>


  </div> <!-- END  MODAL BODY -->


  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="apr.registrationForm.$invalid || !registerInvalid" type="submit">Register</button>
    <button class="btn btn-warning" type="button" ng-click="apr.closeRegistrationForm()">Cancel</button>
  </div>
</form>
