<div class="container-fluid">
  <div id="wrapper">
    <acme-navbar></acme-navbar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">

        <button ui-sref="clubs" class="btn btn-default"> back to clubs</button>

        <form ng-show="!editing" ng-submit="editing = true">

          <div class="row">
            <div class="col-md-4">
              <img src="http://nxworld.net/codepen/css-image-hover-effects/pic03.jpg" alt="">
            </div>

            <div class="col-md-6">
              <h1> {{ clubDetail.club.name }} something</h1>

              <p> President: {{ clubDetail.club.president }} the rosen plevneyev</p>

              <p> Professor: {{ clubDetail.club.professor }} advisor of the club </p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Edit</button>

        </form>

        <form ng-show="editing" ng-submit="editing = false">
          <label>Name of the club:</label>
          <input type="text" ng-model="clubDetail.club.name" placeholder="Name" ng-required/>
          <label>President of the club:</label>
          <input type="text" ng-model="clubDetail.club.president" placeholder="President" ng-required/>
          <label>Professor:</label>
          <input type="text" ng-model="clubDetail.club.professor" placeholder="Professor" ng-required/>
          <label>Description of the club:</label>
          <input type="text" ng-model="" placeholder="Description" ng-required/>
          <br/>
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-danger" type="button" ng-click="clubDetail.deleteClub(clubDetail.club.id)">
            Delete
          </button>
        </form>






      </div>
    </div>
  </div>
</div>
