<div class="container-fluid">

  <div id="wrapper">
    <acme-navbar></acme-navbar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1>Team View</h1>


            <div id="team">
              <div>
                <ul>
                  <button ng-click="team.addMember()"> Add Team Member </button>

                  <li ng-repeat="member in team.getTeam()">

                    <form ng-show="!editing" ng-submit="editing = true">

                      <img src="http://lorempixum.com/100/100/nature/1">

                      <h3>{{ member.name}}</h3>

                      <p>{{member.description}}</p>
                      <button ng-hide="editing" type="submit" class="btn btn-primary pull-right" >Edit</button>
                    </form>





                    <form ng-show="editing" ng-submit="editing = false">
                      <label>Name:</label>
                      <input type="text" ng-model="member.name" placeholder="Name" ng-required/>
                      <label>Description:</label>
                      <input type="text" ng-model="member.description" placeholder="Description" ng-required/>
                      <br/>
                      <button class="btn btn-success" type="submit">Save</button>
                      <button class="btn btn-danger" type="button" ng-click="team.deleteTeamMember(member)">Delete</button>
                    </form>


                  </li>


                </ul>
              </div>
            </div><!-- team finish -->


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
