<div class="container-fluid">

  <div id="wrapper">
    <acme-navbar></acme-navbar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1>Team View</h1>


            <!---------------- HEADER ----------------->
            <div class="row">
              <menu-button></menu-button>
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="team.searchBox" placeholder="Search">
                </div>
              </div>
              <div class="col-md-4">
                <button ng-click="team.addMember()"> Add Team Member</button>
              </div>
            </div>



            <!------------------- TEAM LIST -------------------->
            <div class="team">
                <ul>
                  <li ng-repeat="member in team.teamMembersArray | filter:team.searchBox">
                    <form ng-show="!editing" ng-submit="editing = true">
                      <img src="http://lorempixum.com/100/100/nature/1">
                      <h3>{{ member.name}}</h3>
                      <p>{{member.description}}</p>
                      <button ng-hide="editing" type="submit" class="btn btn-primary pull-right">Edit</button>
                    </form>



                    <!----------------  EDITING MODE ----------------->
                    <form ng-show="editing" ng-submit="editing = false">
                      <label>Name:</label>
                      <input type="text" ng-model="member.name" placeholder="Name" ng-required/>
                      <label>Description:</label>
                      <input type="text" ng-model="member.description" placeholder="Description" ng-required/>
                      <br/>
                      <button class="btn btn-success" type="submit">Save</button>
                      <button class="btn btn-danger" type="button"  ng-click="team.deleteTeamMember(member.id)" >Delete
                      </button>
                    </form>


                  </li>
                </ul>
            </div><!-- team list finish -->




            <!------------------ PAGINATION ------------------>
            <!--<pagination-->
              <!--ng-model="team.currentPage"-->
              <!--total-items="(team.teamMembers | filter:team.searchBox).length"-->
              <!--max-size="team.maxSize"-->
              <!--boundary-links="true"-->
              <!--ng-change="team.pageChanged()">-->
            <!--</pagination>-->



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
