
<div class="modal-header">
  <h3 class="modal-title">Registration Form</h3>
</div>
<form name="aic.registrationForm" role="form" ng-submit="aic.register(aic.user)" novalidate>
  <div class="modal-body">

    <div class="form-group row" ng-class="{ 'has-error' : aic.registrationForm.name.$error.required && aic.registrationForm.name.$dirty }">
      <label class="col-md-2 control-label" for="name">Name</label>
      <div class="col-md-10">
        <input type="text" ng-model="aic.user.name" class="form-control" name="name" id="name" placeholder="name" required>
        <span ng-show="aic.registrationForm.name.$error.required  && !aic.registrationForm.name.$pristine" class="help-block">Please enter your name!</span>
      </div>
    </div>

    <div class="form-group row"  ng-class="{ 'has-error' : aic.registrationForm.description.$error.required && aic.registrationForm.description.$dirty }">
      <label class="col-md-2 control-label" for="description">Description</label>
      <div class="col-md-10">
        <input type="text" ng-model="aic.user.description" class="form-control" id="description" name="description" placeholder="Description" required>
        <span ng-show="aic.registrationForm.description.$error.required  && !aic.registrationForm.description.$pristine" class="help-block">Please enter the description!</span>
      </div>
    </div>

    <div class="form-group row"  ng-class="{ 'has-error' : aic.registrationForm.link.$error.required && aic.registrationForm.link.$dirty }">
      <label class="col-md-2 control-label" for="link">Link</label>
      <div class="col-md-10">
        <input type="text" ng-model="aic.user.link" class="form-control" id="link" name="link" placeholder="Link" required>
        <span ng-show="aic.registrationForm.link.$error.required  && !aic.registrationForm.link.$pristine" class="help-block">Please enter the link!</span>
      </div>
    </div>



  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="aic.registrationForm.$invalid" type="submit" >Register</button>
    <button class="btn btn-warning" type="button" ng-click="aic.cancel()">Cancel</button>
  </div>
</form>
