<div class="container-fluid">
  <div id="wrapper">
    <acme-navbar></acme-navbar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1>Bonev = Flash</h1>


            <ul class="media-list" tab-pane fade in active>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active:isSelected(1)}">
                  <a ng-click="prof.select(1)" aria-controls="all menu" role="tab">All departments</a></li>
                <li role="presentation" ng-class="{active:isSelected(2)}">
                  <a ng-click="prof.select(2)" aria-controls="appetizers" role="tab">COS</a></li>
                <li role="presentation" ng-class="{active:isSelected(3)}">
                  <a ng-click="prof.select(3)" aria-controls="mains" role="tab">ECO</a></li>
                <li role="presentation" ng-class="{active:isSelected(4)}">
                  <a ng-click="prof.select(4)" aria-controls="desserts" role="tab">MAT</a></li>
              </ul>



              <div id="team">
                <div>
                  <ul>
                    <button ng-click=""> Add Team Member</button>

                    <li class="media" ng-repeat="prof in prof.getProfessors() | filter: prof.filtText">

                      <form ng-show="!editing" ng-submit="editing = true">

                        <div class="media-left media-middle">
                          <img src="http://lorempixum.com/100/100/nature/1" class="media-object img-thumbnail">
                        </div>

                        <div class="media-body">
                          <h3 class="media-heading">{{ prof.name}}</h3>

                          <p class="label label-danger">{{ prof.department }}</p>
                          <p>{{ prof.description }}</p>
                          <button ng-hide="editing" type="submit" class="btn btn-primary pull-right">Edit</button>
                        </div>
                      </form>


                    </li>

                  </ul>
                </div>
              </div><!-- professors list finish -->


            </ul>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
