<div class="container-fluid">

  <div id="wrapper">
    <acme-navbar></acme-navbar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1>Team View</h1>


            <div id="team">
              <div>
                <ul>
                  <li ng-repeat="member in team.getTeam()">
                    <img src="http://lorempixum.com/100/100/nature/1">

                    <h3>{{ member.name}}</h3>

                    <p>{{member.description}}</p>
                  </li>


                </ul>
              </div>
            </div><!-- team finish -->


            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
