<div class="container-fluid">
  <div id="wrapper">
    <acme-navbar></acme-navbar>


    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <button ng-show="!editing" class="btn btn-default" ui-sref="professors"> Back to Professors</button>


        <form ng-show="!editing">
          <div class="media-left media-middle">
            <img ng-src="{{ profDetail.professorDetails.photo }}" class="media-object img-thumbnail">
          </div>
          <div class="media-body">
            <h3 class="media-heading">{{ profDetail.professorDetails.name}}</h3>

            <p class="label label-danger">{{ profDetail.professorDetails.department }}</p>
            <!--<p>{{ professor.description }}</p>-->
            <button type="button" ng-click="editing = true; show=true" class="btn btn-primary pull-right">Edit</button>
          </div>
        </form>


        <!-- ----------------  EDITING MODE  --------------------- -->
        <form ng-show="editing" name="profDetail.editingForm" role="form" ng-submit="editing = false">
          <label>Name:</label>
          <input type="text" ng-model="profDetail.professorDetails.name" placeholder="Name" ng-required/>
          <label>Department:</label>
          <select class="form-control" id="department" ng-model="profDetail.professorDetails.department" required>
            <option>cos</option>
            <option>inf</option>
            <option>mat</option>
            <option>jmc</option>
            <option>pos</option>
            <option>eco</option>
            <option>bus</option>
          </select>
          <!--<label>Description:</label>-->
          <!--<input type="text" ng-model="profDetail.professorDetails.description" placeholder="Description" ng-required/>-->
          <br/>

          <img ng-show="show" ng-src="{{ profDetail.professorDetails.photo }}" class="img-thumbnail" alt="">

          <input id="" type="file" ng-click="show=false" ngf-select ng-model="profDetail.picFile" name="file"
                 accept="image/*" ngf-max-size="2MB" required
                 ngf-model-invalid="errorFile">
          <i ng-show="profDetail.editingForm.file.$error.required">*required</i><br>
          <img ng-show="profDetail.editingForm.file.$valid" ngf-thumbnail="profDetail.picFile" class="img-thumbnail"> <a
          ng-click="profDetail.picFile = null"
          class="btn btn-danger"
          ng-show="profDetail.picFile">Remove</a>
          <br>
          <a class="btn btn-default" ng-show="profDetail.picFile"
             ng-click="profDetail.uploadPic(profDetail.picFile)">Upload</a>

      <span class="progress" ng-show="profDetail.picFile.progress >= 0">
        <div ng-bind="'Uploaded Succesfully'"></div>
      </span>


          <button class="btn btn-success" ng-click="profDetail.saveProfessorEditing(profDetail.professorDetails.id)"
                  type="submit">Save
          </button>
          <button class="btn btn-danger" type="button"
                  ng-click="profDetail.deleteProfessor(profDetail.professorDetails.id)">
            Delete
          </button>
        </form>


        <!-------------------- EVALUATIONS ---------------------->
        <div class="row">
          <div class="col-md-10">
            <span><strong>Unknown:::: </strong></span> i cant believe i pay $22/class with this professor.
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
